*{
    margin : 0;
  
}
.Logo{
    font-size: 100px;
    height: 40px;
    width: 40px;
}
.Coloc{
    height: 450px;
}
.Label{
    font-size: 30px;
    font-weight: bold;
    color: #dc3545;
}
.Label1{
    font-weight: bold;
    color: rgb(41, 39, 39);
}



.Test1{
    height: 100px;
    background-color: blue;
    
    /* margin-top: 400px; */
}
.tete{
    height: 100px;
    background-color: blue;
}

.Cards{
    margin-top: 200px;
}

.pc{
    height: 230px;
}

#NE{
    font-weight: bold;
    font-size: 20px;
    color: #333;
    /* border-bottom: 3px solid #dc3545; */
    /* border-left: 3px solid #dc3545;
    border-right: 3px solid #dc3545; */
    text-align: center;
    padding: 5px;
}
.Pic{
    height: 200px;
    /* width: 400px; */
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
}
.Pic2{
    height: 230px;
    /* width: 400px; */
    border-radius: 50%;
    background-color: blue;
}

.Women{
    height: 150px;
    border-radius: 50%;
}

.Nom{
    font-weight: bold;
    font-size: 15px;
    color: #333;
}

.Pro{
    font-size: 10px;
    text-align: center;
    margin-top: -10px;
    color: #333;
}
.Equipe1{
    height: 300px;
 
    border-top: 4px solid #0d6efd;
    background-color: white;
    box-shadow: 5px 10px 18px #DBC1AD;
}
.Equipe2{
    height: 300px;
    border-top: 4px solid #dc3545;
    background-color: white;
    box-shadow: 5px 10px 18px #DBC1AD;
}